/* main page style */
:root {
  --primary-color: rgba(9, 132, 227, 0.75);
    --overlay-color: rgb(255, 250, 250);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:  Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  /* Header style */
  .hero-image:before {
    content: '';
    background: url( "birdhouse.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  header {
    color: #fff;
    height: 50vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    -webkit-text-stroke: 3px black;
  }
  
  header h1 {
    font-size: 22vmin;
    text-align: center;
  }

  /* Navigation style */
  li:hover {
    opacity: 0.9;
    color:#fdcb6e;
    transition: all .5s;
    text-decoration: none;
    transform: scale(1.1);
  }
  
  nav > ul {
      display: flex;
      flex-direction: row;
    justify-content: center;
    background-color:#0984e3 ;  
  }

  nav > ul > li {
    justify-content: space-evenly;
    flex-basis: auto;
    list-style: none;
    color:#ffeaa7;
    font-size: 6vmin;
    padding-right: 3rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
  }
  
  nav > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  .inlin{
    display: flex;
   flex-wrap: wrap;
  }

li:nth-child(even) {
  color: #fdcb6e;
}
.inln a.active {
  background-color: #2196F3;
  color: white;
}


/* blog link styling */
a{
    transition: all .5s;
    text-decoration: none;
    color: #fff;
}
 .container {
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 3rem; 
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
  }
img{
    width: 100%;
    transition: all .5s;
}

section{
    padding: 70px 0;
    background: var(--overlay-color);
    text-align: center;
}

main{
    display: grid;
    grid-template-columns:1;
    grid-gap: 30px;
    margin:3 0px 0 15px 0;
}

.singleBlog{
position: relative;
overflow: hidden;
height: 100%;
box-sizing: border-box;
box-shadow: 0 2px 10px #ccc;
transition: all .5s;
}

.singleBlog:hover{
    box-shadow: 0 2px 13px #ccc;
    transition: all .5s;
}

.singleBlog:hover img{
transform: scale(1.1);
transition: all .4s;
}

.blogContent{
    position:absolute;
    left: 0;
    bottom: -45px;
    width: 100%;
    color:#fff;
    font-size: 1rem;
    padding: 10px 5px;
    background: linear-gradient(45deg, rgba(254, 202, 87,1) 0%, rgba(144,192,229,.4) 100%);
    transition: all .5s;
}

.singleBlog:hover .blogContent{
bottom:0;
transition: all .5s;
}

.blogContent > p {
    font-size: 20px;
    font-weight: 500;
}

.blogContent h3 span{
    display:block;
    font-size:60%;
    margin-top: 5px;
    font-weight: 600;
    color:#d63031;
}

.blogContent a{
    font-size: 14px;
    font-weight: 500;
}

.blogContent .btn{
display: inline-block;
padding: 5px 10px;
border: 1px solid #fff;
border-radius: 3px;
font-weight: 400;

}

.blogContent .btn:hover{
    background:#a29bfe;
    transition: all .5s;
    text-decoration: none;
}

.blogContent a:hover{
    text-decoration: underline;
}
button{
  background-color: transparent;
}

/* footer */
footer{
  text-align: center;
  background-color:var(--primary-color);
  color:var(--overlay-color) ;
}

  /* media queries */
 @media (max-width: 700px){
   
  /* hamburger code */
    .menu-wrap .toggler {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
      width: 120px;
      height: 120px;
      opacity: 0;
    }
    .menu-wrap .toggler:checked ~ .menu {
      visibility: visible;
  }
    .menu-wrap .hamburger {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100px;
      height: 100px;
      padding: 1rem;
      background: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .menu-wrap .hamburger > div {
      position: relative;
      flex: none;
      width: 100%;
      height: 2px;
      background: #FFD700;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .7s ease;
    }

    .menu-wrap .hamburger > div::before,
    .menu-wrap .hamburger > div::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: -10px;
      width: 100%;
      height: 2px;
      background: inherit;
    }

   
    .menu-wrap .hamburger > div::after {
      top: 10px;
    }

    
    .menu-wrap .toggler:checked + .hamburger > div {
      transform: rotate(135deg);
    }

    
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
      top: 0;
      transform: rotate(90deg);
    }

    
    .menu-wrap .toggler:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }


    .menu-wrap .toggler:checked ~ .menu > div {
      transform: scale(1);
      transition-duration: var(--menu-speed);
    }

    .menu-wrap .toggler:checked ~ .menu > div > nav {
      opacity: 1;
      transition:  opacity 0.4s ease 0.4s;
    }
 
    .menu-wrap .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    .menu-wrap .menu > div {
      background: var(--primary-color);
      width: 100%;
      height: 100%;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.4s ease;
    }

    .menu-wrap .menu > div > nav {
      max-width: 100vw;
      max-height: 100vh;
      opacity: 0;
    }

    nav > ul > li {
      list-style: none;
      border: 1px solid #fff;
      background-color: #120fc7;
    }
    nav > ul {
      flex-direction: column ;
      background: none ;
  }

  nav > ul > li {
    font-size: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
  }
  }

  @media (min-width: 701px){
  .toggler{
    position: absolute;
    left:-99999px
  }

}
@media (min-width: 900px) and (max-width: 1200px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    .blogContent{
        bottom: 0;
    } 
}

 @media screen and (min-width: 700px) and (max-width: 899px) {

    main {
       grid-template-columns: repeat(2, 1fr);
       grid-gap: 20px;
     }
     nav > ul  {
      padding-left: 6px;
      padding-right: 6px;
    }
   }
 @media screen and (min-width: 1201px) {

    main {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
  }
}