/* CORE STYLES */
:root {
  --primary-color: rgba(52,85,219, 0.75);
  --overlay-color: rgb(255, 250, 250);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  Arial, Helvetica, sans-serif;
  line-height: 1.4;
  
}
.menu-wrap{
  width: 100%;
  z-index: 1;
}

.container {
  /* max-width: 960px; */
  display:flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  overflow: hidden;
  /* padding: 0 3rem;  */
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
}


.hero-image:before {
  content: '';
  background: url( "birdhouse.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  color: #fff;
  height: 50vmin;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: 22vmin;
  text-align: center;
}

li:hover {
  opacity: 0.9;
  color:#fdcb6e;
  transition: all .5s;
  text-decoration: none;
  transform: scale(1.1);
}

nav > ul {
    display: flex;
    flex-direction: column;
  justify-content: center;
  background-color:#0984e3 ;  
}

nav > ul > li {
  justify-content: center;
  flex-basis: auto;
  list-style: none;
  color:#FFD700 ;
  font-size: 8vw;
  padding-left: 2.5vw;
  padding-top: .7rem;
  padding-bottom: .7rem;
  text-align: center;
}

nav > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
} 
.inlin{
  display: flex;
 flex-wrap: wrap;
}

/* Style the "active" element to highlight the current page */
.inln a.active {
background-color: #2196F3;
color: white;
}

/* blog link styling */
a{
  transition: all .5s;
  text-decoration: none;
  color: #fff;
}

img{
  width: 100%;
  transition: all .5s;
}

section{
  display: flex;
  flex-direction: column;
  background: var(--overlay-color);
}

main{
  display: grid;
  grid-gap: 30px;
  padding: 70px 10px;
  background: var(--overlay-color);
  text-align: center;
  width: 75%;
  float: right;
}

form > div{
padding: 10px;
border-top: 12px;
font-weight: 800;
font-size: 1rem;
}


input{
  text-align: center;
}


/* media queries */

@media (max-width: 700px){
}
@media (min-width: 701px){
  
  nav > ul > li {
    font-size: 4vw;
    padding-right: 6vw;
    text-align: center;
  }
  nav > ul {
    flex-direction: row;
}

}
